
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-Prodega-Red: #D3001F;
    --color-Background: #F5F5F5;
    --color-Background-Grey: #e7e7e7;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-Background);
}

.loader {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    position: relative;
    background: #FFF;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    top: 15px;
    left: 15px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
     linear-gradient(#DDD 100px, transparent 0),
     linear-gradient(#DDD 16px, transparent 0),
     linear-gradient(#DDD 50px, transparent 0);
    background-repeat: no-repeat;
    background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
    background-position: -185px 0, center 0, center 115px, center 142px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    to {
      background-position: 185px 0, center 0, center 115px, center 142px;
    }
  }

.non-clickable{
    pointer-events: none;
    filter: blur(8px);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.header{
    background-color: #D3001F;
    text-align: center;
    color: #fff;
}
.image {
    width: 100%; 
    overflow: hidden; 
    position: relative; 
}

.image img {
    width: 100%; 
    max-width: 100vw; 
    height: auto; 
    display: block; 
}

.Image-OverlayTitleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;   
}

.Image-OverlayTitle {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0; 
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px; 
    min-height: 100px; 
    margin-top: 50px;
}
.Question-Title{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: var(--color-Prodega-Red);

}
.Answers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}
.Answer{
    background-color: #e7e7e7;
    margin: 5px;
    border-radius: 16px;
    text-align: center;
    border: #c1c1c1 solid 2px;
}
.SelectedAnswer{
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
    border: #D3001F solid 2px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}
/* From Uiverse.io by Yaya12085 */ 
.custum-file-upload {
    height: 160px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #000;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.3rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 70px;
    fill: #D3001F;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 300;
    color: #000;
  }
  
  .custum-file-upload input {
    display: none;
  }

.Send-Button{
    display: flex;
    justify-content: center;
    margin: 10px;
}


/* From Uiverse.io by KINGFRESS */ 
button {
    background-color: transparent;
    width: 16em;
    height: 3.7em;
    border: 2px solid #D3001F;
    border-radius: 25px;
    font-size:medium;
    font-weight: bold;
    text-transform: uppercase;
    color: #D3001F;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  button .txt {
    transition: .4s ease-in-out;
    position: absolute;
  }
  
  button .txt2 {
    transform: translateY(1em) scale(0);
    color: #212121;
    position: absolute;
  }
  
  button .loader-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    overflow: hidden;
  }
  
  button .loader-container .loader-button {
    height: 100%;
    width: 100%;
    background-color: #D3001F;
    border-radius: inherit;
    transform: translateX(-16em);
  }
  
  button:focus {
    transition: .4s ease-in-out .4s;
    animation: scaling 1.5s ease-in-out 0s 1 both;
  }
  
  button:focus .txt {
    position: absolute;
    transform: translateY(-5em);
    transition: .4s ease-in-out;
  }
  
  button:focus .txt2 {
    transform: translateY(0) scale(1);
    transition: .3s ease-in-out 1.7s;
    color: #fff;
  }
  
  button:focus .loader-button {
    display: block;
    transform: translate(0);
    transition: .8s cubic-bezier(0,.4,1,.28) .4s;
    animation: loading;
  }
  
  @keyframes scaling {
    20% {
      height: 1.5em;
    }
  
    80% {
      height: 1.5em;
    }
  
    100% {
      height: 3.3em;
    }
  }


.RegisterComponent{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.Map-container{
  margin-top: 80px;
  text-align: center;
}



/* From Uiverse.io by Shoh2008 */ 
.Submitloader {
  width: 64px;
  height: 64px;
  position: relative;
  background: #FFF;
  border-radius: 4px;
  overflow: hidden;
}

.Submitloader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.Submitloader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0% , 100% {
    bottom: -35px
  }

  25% , 75% {
    bottom: -2px
  }

  20% , 80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25% , 75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}
  

/* From Uiverse.io by Prince4fff */ 
.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background: #D3001F;
  border-radius: 0 4px 0 32px;
}
.oder{
  text-align: center;
  margin: 0;
}
.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: #e7e7e7;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #D3001F;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: var(--color-Prodega-Red);
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.15);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: #00838d;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}